.idea
app/config/config_app.php
.idea/workspace.xml


error.log
var/*
/cache/
/config/development/
app/config/config.php
/app/config/config.php

app/config/config_app.json
/app/config/config_app.json
var/
app/config/config_app.php
