.btn-info,
.btn-primary{
  background: #E15121 !important;
  border: 1px #C3C3C3 outset;
}
.btn-danger{
  background: #BD441C !important;
  border: 1px #C3C3C3 outset;
}
.list-group-item{
  //border-style: solid;
  //border-color: #545151;
  //border-width: thin;

  //border: 1px #8F8D8D solid;
  border: none;
  border-bottom: 1px #8F8D8D solid;
  color:#3C3C3C;
  padding: 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.list-group-item:first-child{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.list-group-item:last-child{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-right: none !important;
}
.list-inline
{
  &.content-odd,
  &.content-even{
    line-height: 33px;

    &:hover{
      background: #E6D8D2;
    }
  }
  &.content-odd{
    background:#E6E6E6;
    border-left: 1px #8F8D8D solid;
    border-right: 1px #8F8D8D solid;
  }
  &.content-even{
    background:#CDCDCD;
    border-left: 1px #8F8D8D solid;
    border-right: 1px #8F8D8D solid;
  }
}
ul.header-list,
ul.content-odd,
ul.content-even{
  margin: 0;
  position: relative;
  min-height: 0;
  overflow: hidden;
}
.header-list{
  background:#AFAFAF;
  line-height:45px;
  font-weight:bolder;

  border: 1px #8F8D8D solid;
  border-bottom: none;
  .list-group-item{

    //border-style: solid;
    //border-color: #545151;
    //border-width: thin;

    border-right: 1px #8F8D8D solid;
    color:#3C3C3C;
    padding: 0;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.text-suspended{
  color: #930002;
}
.text-active{
  color: #007A08;
}
.text-inactive{
  color: #7A2600;
}
#check-availablity{
  display: none;
  margin-left: 10px;
  height: 30px;
  vertical-align: top;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;

  &.fa-check{
    display: inline-block;
    background-color: green;
  }

  &.fa-times{
    display: inline-block;
    background-color: red;
  }
}