.list-group-item{
  border-style: solid;
  border-color: #545151;
  border-width: thin;

  color:#3C3C3C;
  padding: 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.list-group-item:first-child{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.list-group-item:last-child{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

ul.header-list,
ul.content-odd,
ul.content-even{
  margin: 0;
  position: relative;
  min-height: 0;
  overflow: hidden;
}
.header-list{
  background:#A09E9E;
  line-height:45px;
  font-weight:bolder;
}
.content-odd,
.content-even{
  line-height: 33px;
}
.content-odd{
  background:#CDCDCD;
}
.content-even{
  background:#E6E6E6;
}
.text-suspended{
  color: #930002;
}
.text-active{
  color: #007A08;
}
.text-inactive{
  color: #7A2600;
}
#check-availablity{
  display: none;
  margin-left: 10px;
  height: 30px;
  vertical-align: top;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;

  &.fa-check{
    display: inline-block;
    background-color: green;
  }

  &.fa-times{
    display: inline-block;
    background-color: red;
  }
}