.header-button-logout{
  border : white 2px solid ;
  border-radius: 5px ;
  color : white ;
  margin-top : -5px ;
  font-weight : bolder ;
  padding : 2px 15px ;
  background-color: #363636 ;
  border-color: white ;
}
.header-button-logout:hover{
  background-color: red ;
}
.header-language-list{
  outline : none ;
  font-weight : bolder ;
  border-radius : 5px ;
  border : white 2px solid ;
  padding : 2px 10px ;
  background-color: #e15121;
  color : white ;
  cursor : pointer ;
}

.header-menu{
  background: #e15121;
}
.navbar-header{
  width : 50% ;
}
.header-menu-minimalize{
  padding : 6px 12px ;
  color : white ;
  border : solid 2px white ;

}

.header-menu-minimalize:hover {
  background-color: white ;
  color : #e15121;
}
.header-menu-information{
  border : solid 2px white ;
  font-weight : bolder ;
  border-radius : 5px ;
  padding : 4px 0 5px ;
  color : white ;
}
.header-info-user{
  padding : 4px 10px 5px ;
}

.header-info-code{
  border : solid 2px white ;
  padding : 4px 10px 5px ;
  background-color: forestgreen ;
}

.header-info-cur{
  padding : 4px 10px 5px ;
  background-color: cornflowerblue;
  border-radius: 0 5px 5px 0 ;
}
